html, body {
    width: 400px;
    padding: 3px;
}

#other-recommended-articles {
    /*display: none;*/
}

.toggle {
    cursor: pointer;
    color: blue;
}

.container-fluid {
    margin-right: 10px;
}
